/nbproject/private/
/build/
/lib/java_netbeans_Make_QR-main/java_netbeans_Make_QR-main/Qr_code/Qr_code/build/
/lib/java_netbeans_Make_QR-main/java_netbeans_Make_QR-main/Qr_code/Qr_code/nbproject/private/
/src/mobileworld/icon/Socket-Multi-Thread-Client-main/Socket-Multi-Thread-Client-main/build/
/src/mobileworld/icon/Socket-Multi-Thread-Client-main/Socket-Multi-Thread-Client-main/nbproject/private/
